<% provide(:title, "Profile")%>
<h1>Personal Details</h1>
<br>
<table class="table">
    <tr><th>First Name </th>
        <td><%= @user.name %></td></tr>
    <tr><th>Email </th>
        <td><%= @user.email %></td></tr>
</table>
<%if @user.loans.any?%>
    <% @user.loans.each do |loan| %>
        <p><b>  Your loan for <%= loan.school %> of <%= loan.amount %>
        status is <%= loan.status %></b></p>

    <% end %>
<% end %>
