<% provide(:title, "Admin") %> 
<h1>List of bursery requests</h1>
<table class="table"><tr>
        <th>ID</th>
        <th>Applicant name</th>
        <th>Amount requested</th>
        <th>Date applied</th>
        <th>School</th>
    </tr>
<% @loans.each do |loan|%>
    <tr>
        <td><%= loan.id%></td>
        <td><%= loan.user.name%></td>
        <td><%= loan.amount%></td>
        <td><%= loan.created_at%></td>
        <td><%= loan.school%></td>
    </tr>
<% end %>
</table>

